.Messages input {
 position: relative;
 left: 20px;

  width: 88vw;
  height: 25px;
  background-color: #76768065;
  border-radius: 12px;
  
}
.Messages-hidden{
  content: "";
}
.Messages li{

  position: relative;
  left: -26px;
  list-style-type: none;
  cursor: pointer;
  padding: 13px;
}
.Messages li:active{
  background-color: lightgray;
}
.Messages h4{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

}